Report/*
!Report/Report.tex
!Report/Report.pdf
!Report/refs.bib
!Report/Exec_Summary.tex
!Report/Exec_Summar.pdf


.DS_Store


Data/*
!Data/README.md
!Data/gnlse/
Data/gnlse/gnlse.mat
!Data/neuron/



Plots/
Tools/__pycache__


docs/latex/
